<section data-ng-controller="HomeController">
<!-- 
    <section id="featured-categories">
        <div class="row">
            <div ng-repeat="category in featuredCategories" class="col-sm-10 featured-category">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="img-responsive" ng-src="{{category.imgUrl}}">
                        </div>
                        <div class="col-sm-18">
                            <div class="caption">
                                <p>{{category.description}}</p>
                            </div>
                        </div>
                        <span class="glyphicon glyphicon-chevron-right go"></span>
                    </div>
                </div>
            </div>

        </div>
    </section>
 -->
    <section id="featured-video">
        <div video-tile="featuredVideo"></div>
    </section>
    <br>
    <br>
    <section id="filters">
        <ul class="list-inline">
            <li><em>Filter content by:</em></li>
            <li ng-repeat="filter in filters">{{filter.name}}</li>
        </ul>
    </section>
    <br>
    <section id="media-tiles">


        <div class="row">
            <div class="col-sm-18">
                <div video-tile="videos[0]"></div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-15">
                        <div class="small" video-tile="videos[1]"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-30">
                        <div class="medium" video-tile="videos[2]"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="small" video-tile="videos[3]"></div>
            </div>

            <div class="col-sm-12">
                <div class="medium" video-tile="videos[4]"></div>
            </div>


            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-30">
                        <div class="small" video-tile="videos[5]"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-30">
                        <div class="small" video-tile="videos[6]"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="small" video-tile="videos[7]"></div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-30">
                        <div class="small" video-tile="videos[8]"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-30">
                        <div class="small" video-tile="videos[9]"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-18">
                <div class="large" video-tile="videos[10]"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="medium" video-tile="videos[11]"></div>
            </div>

            <div class="col-sm-6">
                <div class="small" video-tile="videos[12]"></div>
            </div>
            <div class="col-sm-12">
                <div class="medium" video-tile="videos[13]"></div>
            </div>
        </div>
    </section>
</section>
