// Overwrite glyphicon font path
//** Load fonts from this directory.
@icon-font-path: "../lib/bootstrap/fonts/";
//
//
// Overwrite bootstrap grid system
//== Grid system
//
//## Define your custom responsive grid.
//** Number of columns in the grid.
@grid-columns: 30;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width: 2px;
// color of the text on video
@video-text-color: #FFF;
// verical gutter adds top and bottom margin between rows
@gutter-vertical: 2px;
